.input article {
    margin-bottom: 20px;
}

.kette div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#warnmeldung {
    color: red;
}

.input button {
    width: 100px;
}

.output div {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.output article {
    width: 80vw;
}